
<h1 align="center">ProTrain</h1>



<div class="jumbotron">
<h1> Welcome to ProTrain! </h1>

</div> 

<div class="row"> 
    <div class="col-md-12">
        <p> Trenirajte s nama </p>
    </div> 
</div> 


<h2 align="center"><span><font face="Verdana">Personalni trening je najpouzdaniji i najefikasniji vid vježbanja jer omogućuje da za kratak period postignete željene rezultate.</font></span></h2>
<p align="justify"><font face="Verdana">&nbsp;<span style="text-align: justify">Najveća je prednost vježbanja s personalnim trenerom, u odnosu na sve druge fitnes programe, u tome što se trening prilagođava vašim individualnim potrebama i ciljevima. Za većinu ljudi redovan odlazak u fitnes centre, održavanje visokog nivoa motivacije i stalni monitoring rezultata predstavljaju težak zadatak.</span></font></p>

<div class="row">
    <div class="col-md-6">
        <h2> MOTIVACIJA </h2>
        <p>
          Personalni trener će vam pomoći da pružite svoj maksimum na svakom treningu, ohrabriće vas i motivisati da kvalitetno vježbate čak i onim danima kada niste raspoloženi. On je tu da vam održi visok nivo motivacije i da vam svojim znanjem pomogne da prevaziđete sve zastoje, da ostvarite svoje ciljeve i da zajedno postavite nove.
        </p>
    </div>
    <div class="col-md-6">
        <img src="/PT.jpg">
    </div>
</div>

<br/> <br/>

<div class="row">
    <div class="col-md-6">
        <h2> MOTIVACIJA </h2>
        <p>
          Personalni trener će vam pomoći da pružite svoj maksimum na svakom treningu, ohrabriće vas i motivisati da kvalitetno vježbate čak i onim danima kada niste raspoloženi. On je tu da vam održi visok nivo motivacije i da vam svojim znanjem pomogne da prevaziđete sve zastoje, da ostvarite svoje ciljeve i da zajedno postavite nove.
        </p>
    </div>
    <div class="col-md-6">
        <img src="/PT.jpg">
    </div>
</div>

<br/> <br/>

<div class="row">
    <div class="col-md-6">
        <h2> MOTIVACIJA </h2>
        <p>
          Personalni trener će vam pomoći da pružite svoj maksimum na svakom treningu, ohrabriće vas i motivisati da kvalitetno vježbate čak i onim danima kada niste raspoloženi. On je tu da vam održi visok nivo motivacije i da vam svojim znanjem pomogne da prevaziđete sve zastoje, da ostvarite svoje ciljeve i da zajedno postavite nove.
        </p>
    </div>
    <div class="col-md-6">
        <img src="/PT.jpg">
    </div>
</div>









<style>
p{
    text-align: justify;
}

img{
    width: 600px;
    height: auto;
}
</style>