<h1> o nama </h1>


<img src="/teretana.jpg" />
<br>
<br>
<p>Lako je odlučiti da želite početi da živite zdravo, da izgubite kilograme ili da oblikujete svoje tijelo, ali kako da dalje radite na tome? Kako pronaći motivaciju za vježbanje, pored svakodnevnih obaveza, kao što su posao i/ili porodica? Znamo da nije lako, ali nema razloga za strah, jer NISTE sami! U ProTrain-u vam nudimo Les Mills sistem grupnog fitnessa koji provjereno nudi doživljaj fitness vježbanja svjetskog nivoa, uz maksimum uzbuđenja, motivacije i željenih rezultata. 

    Zahvaljujući najsavremenijoj tehnologiji i znanju osoblja ProTrain-a, dobijate jedinstvenu priliku da ostvarite svoje ciljeve! Pozitivina energija i inspirativno okruženje u kojem se nalazite, potaknut će vas da ponovo dođete nakon svakog treninga. 
    
    Kroz raznovrsnu ponudu kurseva i usluga, pronađite i vi adekvatan trening u skladu sa vašim afinitetima i fizičkim mogućnostima.
    
    U ugodnoj atmosferi vježbajte pod stručnim nadzorom profesionalnih i školovanih trenera s bogatim iskustvom. Naš klub prati svjetske fitness trendove i u našoj ponudi nudimo njihove programe  kao što je Zumba, RTP, Les Mills i drugi. Mi imamo individualan pristup svakom našem članu ponaosob. Savjetujemo  o pravilnom  načinu vježbanja, te zdravoj prehrani. Nije važno  kojom se aktivnosti želite baviti, mi smo tu da se zajednički i kroz dogovor posvetimo postizanju vaših ciljeva. 
    
    Svijet fitnessa je uzbudljiv i kreativan, u stalnom preobražaju. Izaberite za sebe, iz široke ponude naših usluga, fitness program prilagođen Vama.
    
    Posjetite ProTrain te uz našu pomoć poboljšajte kondiciju, oblikujte tijelo, relaksirajte se, dobro se zabavite i živite zdravije.</p>
    