<h1> Trening </h1>


<h2> Prsa </h2>
<img class="prsa" src="/prsa.jpg" />

<h3> Ledja </h3>
<img class="ledja" src="/ledja.jpg" />

<h3> Ramena </h3>
<img class="ramena" src="/ramena.jpg" />

<h4> Noge </h4>
<img class="noge" src="/noge.jpg" />



























<style>
.prsa{
    width: 150px;
    height: auto;
}

.ledja{
    width: 150px;
    height: auto;
}

.ramena{
    width: 150px;
    height: auto;
}

.noge{
    width: 150px;
    height: auto;
}


</style>